<!DOCTYPE HTML>
<html manifest="" lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Backbone First Step</title>

	<link media="screen" rel="stylesheet" type="text/css" href="resources/css/app.css" />

	<script id="jqueryjs" type="text/javascript" src="sdk/jquery/jquery-1.7.2.min.js"></script>
	<script id="underscorejs" type="text/javascript" src="sdk/underscore/underscore.js"></script>
	<script id="backbonejs" type="text/javascript" src="sdk/backbone/backbone.js"></script>
</head>
<body>
	<div id="container"></div>
	<script type="text/javascript">

		/*
			Backbone routers are used for routing your applications URL's when using hash tags(#). 
			In the traditional MVC sense they don't neccesarily fit the semantics and if you have 
			read "What is a view?" it will elaborate on this point. Though a Backbone "router" is 
			still very useful for any application/feature that needs URL routing/history capabilities.
		*/

		var AppRouter = Backbone.Router.extend({
			routes: {
				"post/:id": "getPost",
				"*actions": "defaultRoute" // matches http://example.com/#anything-here
			},
			defaultRoute: function( actions )	{
				// The variable passed in matches the variable in the route definition "actions"
				console.log( 'Action: ' + actions ); 
			},
			getPost: function( id )	{
				console.log( 'ID: ' + id ); 
			}
		});

		// Initiate the router
		var app_router = new AppRouter;
		// Start Backbone history a neccesary step for bookmarkable URL's
		Backbone.history.start();


		OptionNav = Backbone.View.extend({
			initialize:function( )	{
				this.render( );
			},
			render: function( )	{
				var template = _.template( '<h3><a href="<%= link %>" ><%= text %></a></h3>', this.options );
				this.$el.append( template );
			}
		});

		var a = new OptionNav ( {el: '#container', link:'#part-1',text:'Part'} );
		var b = new OptionNav ( {el: '#container', link:'#part-2',text:'Part"2"'} );
		var c = new OptionNav ( {el: '#container', link:'#category/option',text:'category/option'} );
		var c = new OptionNav ( {el: '#container', link:'#post/1',text:'Post 1'} );
		var c = new OptionNav ( {el: '#container', link:'#post/1564',text:'Post 1223524'} );

	</script>
</body>
</html>
